.NFLPick {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#nfl-team-badge {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

#team-name-badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nfl-team-name {
  color: white;
  font-size: 35px;
  text-shadow: -1px -1px 0 #193d7b, 1px -1px 0 #193d7b, -1px 1px 0 #193d7b,
    1px 1px 0 #193d7b;
}
