.PickMatchUp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

#pickMatchUp-text {
  text-align: center;
  font-size: 35px;
  width: 100%;
}

#gloves {
  background: url("../../images/gloves.svg") no-repeat;
  background-size: 150px;
  height: 200px;
  width: 150px;
  object-fit: cover;
  border: none;
}

#trophy {
  background: url("../../images/trophy.svg") no-repeat;
  background-size: 135px;
  height: 200px;
  width: 150px;
  object-fit: cover;
  border: none;
}

#gloves-button,
#trophy-button {
  background-color: transparent;
  border: none;
  font-size: 25px;
}

#pickUnderDog-buttons-container,
#pickSafeBet-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 250px;
  margin-top: 65px;
}

#pickMatchUp-text,
#gloves-button,
#trophy-button {
  color: white;
  text-shadow: -1px -1px 0 #193d7b, 1px -1px 0 #193d7b, -1px 1px 0 #193d7b,
    1px 1px 0 #193d7b;
}

#yourTeam-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
